In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Datasets/link2/House_Price.csv")

In [3]:
df.head()

,price,crime_rate,resid_area,air_qual,room_num,age,dist1,dist2,dist3,dist4,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter,parks
0,24.0,0.00632,32.31,0.538,6.575,65.2,4.35,3.81,4.18,4.01,24.7,4.98,YES,5.480,11.1920,River,23,YES,0.049347
1,21.6,0.02731,37.07,0.469,6.421,78.9,4.99,4.70,5.12,5.06,22.2,9.14,NO,7.332,12.1728,Lake,42,YES,0.046146
2,34.7,0.02729,37.07,0.469,7.185,61.1,5.03,4.86,5.01,4.97,22.2,4.03,NO,7.394,101.1200,None,38,YES,0.045764
3,33.4,0.03237,32.18,0.458,6.998,45.8,6.21,5.93,6.16,5.96,21.3,2.94,YES,9.268,11.2672,Lake,45,YES,0.047151
4,36.2,0.06905,32.18,0.458,7.147,54.2,6.16,5.86,6.37,5.86,21.3,5.33,NO,8.824,11.2896,Lake,55,YES,0.039474

In [4]:
df.isnull().sum()

price          0
crime_rate     0
resid_area     0
air_qual       0
room_num       0
age            0
dist1          0
dist2          0
dist3          0
dist4          0
teachers       0
poor_prop      0
airport        0
n_hos_beds     8
n_hot_rooms    0
waterbody      0
rainfall       0
bus_ter        0
parks          0
dtype: int64

Hence there is no null element.

In [11]:
y = df.iloc[:,0].values
X = df.iloc[:,1:]

In [12]:
y= y.reshape(-1,1)

In [13]:
y

array([[24. ],
       [21.6],
       [34.7],
       [33.4],
       [36.2],
       [28.7],
       [22.9],
       [22.1],
       [16.5],
       [18.9],
       [15. ],
       [18.9],
       [21.7],
       [20.4],
       [18.2],
       [19.9],
       [23.1],
       [17.5],
       [20.2],
       [18.2],
       [13.6],
       [19.6],
       [15.2],
       [14.5],
       [15.6],
       [13.9],
       [16.6],
       [14.8],
       [18.4],
       [21. ],
       [12.7],
       [14.5],
       [13.2],
       [13.1],
       [13.5],
       [18.9],
       [20. ],
       [21. ],
       [24.2],
       [30.8],
       [34.9],
       [26.6],
       [25.3],
       [24.7],
       [21.2],
       [19.3],
       [20. ],
       [16.6],
       [14.4],
       [19.4],
       [19.7],
       [20.5],
       [25. ],
       [23.4],
       [18.9],
       [35.4],
       [24.7],
       [31.6],
       [23.3],
       [19.6],
       [18.7],
       [16. ],
       [22.2],
       [25. ],
       [33. ],
       [23.5],
       [19.4],
       [22. ],
       [17.4],
       [20.9],
       [24.2],
       [21.7],
       [22.8],
       [23.4],
       [24.1],
       [21.4],
       [20. ],
       [20.8],
       [21.2],
       [20.3],
       [28. ],
       [23.9],
       [24.8],
       [22.9],
       [23.9],
       [26.6],
       [22.5],
       [22.2],
       [23.6],
       [28.7],
       [22.6],
       [22. ],
       [22.9],
       [25. ],
       [20.6],
       [28.4],
       [21.4],
       [38.7],
       [43.8],
       [33.2],
       [27.5],
       [26.5],
       [18.6],
       [19.3],
       [20.1],
       [19.5],
       [19.5],
       [20.4],
       [19.8],
       [19.4],
       [21.7],
       [22.8],
       [18.8],
       [18.7],
       [18.5],
       [18.3],
       [21.2],
       [19.2],
       [20.4],
       [19.3],
       [22. ],
       [20.3],
       [20.5],
       [17.3],
       [18.8],
       [21.4],
       [15.7],
       [16.2],
       [18. ],
       [14.3],
       [19.2],
       [19.6],
       [23. ],
       [18.4],
       [15.6],
       [18.1],
       [17.4],
       [17.1],
       [13.3],
       [17.8],
       [14. ],
       [14.4],
       [13.4],
       [15.6],
       [11.8],
       [13.8],
       [15.6],
       [14.6],
       [17.8],
       [15.4],
       [21.5],
       [19.6],
       [15.3],
       [19.4],
       [17. ],
       [15.6],
       [13.1],
       [41.3],
       [24.3],
       [23.3],
       [27. ],
       [50. ],
       [50. ],
       [50. ],
       [22.7],
       [25. ],
       [50. ],
       [23.8],
       [23.8],
       [22.3],
       [17.4],
       [19.1],
       [23.1],
       [23.6],
       [22.6],
       [29.4],
       [23.2],
       [24.6],
       [29.9],
       [37.2],
       [39.8],
       [36.2],
       [37.9],
       [32.5],
       [26.4],
       [29.6],
       [50. ],
       [32. ],
       [29.8],
       [34.9],
       [33. ],
       [30.5],
       [36.4],
       [31.1],
       [29.1],
       [50. ],
       [33.3],
       [30.3],
       [34.6],
       [34.9],
       [32.9],
       [24.1],
       [42.3],
       [48.5],
       [50. ],
       [22.6],
       [24.4],
       [22.5],
       [24.4],
       [20. ],
       [21.7],
       [19.3],
       [22.4],
       [28.1],
       [23.7],
       [25. ],
       [23.3],
       [28.7],
       [21.5],
       [23. ],
       [26.7],
       [21.7],
       [27.5],
       [30.1],
       [44.8],
       [50. ],
       [37.6],
       [31.6],
       [46.7],
       [31.5],
       [24.3],
       [31.7],
       [41.7],
       [48.3],
       [29. ],
       [24. ],
       [25.1],
       [31.5],
       [23.7],
       [23.3],
       [27. ],
       [20.1],
       [22.2],
       [23.7],
       [17.6],
       [18.5],
       [24.3],
       [20.5],
       [24.5],
       [26.2],
       [24.4],
       [24.8],
       [29.6],
       [42.8],
       [21.9],
       [20.9],
       [44. ],
       [50. ],
       [36. ],
       [30.1],
       [33.8],
       [43.1],
       [48.8],
       [31. ],
       [36.5],
       [22.8],
       [30.7],
       [50. ],
       [43.5],
       [20.7],
       [21.1],
       [25.2],
       [24.4],
       [35.2],
       [32.4],
       [32. ],
       [33.2],
       [33.1],
       [29.1],
       [35.1],
       [45.4],
       [35.4],
       [46. ],
       [50. ],
       [32.2],
       [22. ],
       [20.1],
       [23.2],
       [22.3],
       [24.8],
       [28.5],
       [37.3],
       [27.9],
       [23.9],
       [21.7],
       [28.6],
       [27.1],
       [20.3],
       [22.5],
       [29. ],
       [24.8],
       [22. ],
       [26.4],
       [33.1],
       [36.1],
       [28.4],
       [33.4],
       [28.2],
       [22.8],
       [20.3],
       [16.1],
       [22.1],
       [19.4],
       [21.6],
       [23.8],
       [16.2],
       [17.8],
       [19.8],
       [23.1],
       [21. ],
       [23.8],
       [23.1],
       [20.4],
       [18.5],
       [25. ],
       [24.6],
       [23. ],
       [22.2],
       [19.3],
       [22.6],
       [19.8],
       [17.1],
       [19.4],
       [22.2],
       [20.7],
       [21.1],
       [19.5],
       [18.5],
       [20.6],
       [19. ],
       [18.7],
       [32.7],
       [16.5],
       [23.9],
       [31.2],
       [17.5],
       [17.2],
       [23.1],
       [24.5],
       [26.6],
       [22.9],
       [24.1],
       [18.6],
       [30.1],
       [18.2],
       [20.6],
       [17.8],
       [21.7],
       [22.7],
       [22.6],
       [25. ],
       [19.9],
       [20.8],
       [16.8],
       [21.9],
       [27.5],
       [21.9],
       [23.1],
       [50. ],
       [50. ],
       [50. ],
       [50. ],
       [50. ],
       [13.8],
       [13.8],
       [15. ],
       [13.9],
       [13.3],
       [13.1],
       [10.2],
       [10.4],
       [10.9],
       [11.3],
       [12.3],
       [ 8.8],
       [ 7.2],
       [10.5],
       [ 7.4],
       [10.2],
       [11.5],
       [15.1],
       [23.2],
       [ 9.7],
       [13.8],
       [12.7],
       [13.1],
       [12.5],
       [ 8.5],
       [ 5. ],
       [ 6.3],
       [ 5.6],
       [ 7.2],
       [12.1],
       [ 8.3],
       [ 8.5],
       [ 5. ],
       [11.9],
       [27.9],
       [17.2],
       [27.5],
       [15. ],
       [17.2],
       [17.9],
       [16.3],
       [ 7. ],
       [ 7.2],
       [ 7.5],
       [10.4],
       [ 8.8],
       [ 8.4],
       [16.7],
       [14.2],
       [20.8],
       [13.4],
       [11.7],
       [ 8.3],
       [10.2],
       [10.9],
       [11. ],
       [ 9.5],
       [14.5],
       [14.1],
       [16.1],
       [14.3],
       [11.7],
       [13.4],
       [ 9.6],
       [ 8.2],
       [ 8.4],
       [12.8],
       [10.5],
       [17.1],
       [14.8],
       [15.4],
       [10.8],
       [11.8],
       [14.9],
       [12.6],
       [14.1],
       [13. ],
       [13.4],
       [15.2],
       [16.1],
       [17.8],
       [14.4],
       [14.1],
       [12.7],
       [13.5],
       [14.9],
       [20. ],
       [16.4],
       [17.7],
       [19.5],
       [20.2],
       [21.4],
       [19.9],
       [19. ],
       [19.1],
       [19.1],
       [20.1],
       [19.9],
       [19.6],
       [23.2],
       [29.8],
       [13.8],
       [13.3],
       [16.7],
       [12. ],
       [14.6],
       [21.4],
       [23. ],
       [23.7],
       [25. ],
       [21.8],
       [20.6],
       [21.2],
       [19.1],
       [20.6],
       [15.2],
       [ 7. ],
       [ 8.1],
       [13.6],
       [20.1],
       [21.8],
       [24.5],
       [23.1],
       [19.7],
       [18.3],
       [21.2],
       [17.5],
       [16.8],
       [22.4],
       [20.6],
       [23.9],
       [22. ],
       [19. ]])

In [15]:
X.head()

,crime_rate,resid_area,air_qual,room_num,age,dist1,dist2,dist3,dist4,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter,parks
0,0.00632,32.31,0.538,6.575,65.2,4.35,3.81,4.18,4.01,24.7,4.98,YES,5.480,11.1920,River,23,YES,0.049347
1,0.02731,37.07,0.469,6.421,78.9,4.99,4.70,5.12,5.06,22.2,9.14,NO,7.332,12.1728,Lake,42,YES,0.046146
2,0.02729,37.07,0.469,7.185,61.1,5.03,4.86,5.01,4.97,22.2,4.03,NO,7.394,101.1200,None,38,YES,0.045764
3,0.03237,32.18,0.458,6.998,45.8,6.21,5.93,6.16,5.96,21.3,2.94,YES,9.268,11.2672,Lake,45,YES,0.047151
4,0.06905,32.18,0.458,7.147,54.2,6.16,5.86,6.37,5.86,21.3,5.33,NO,8.824,11.2896,Lake,55,YES,0.039474

In [18]:
X.waterbody.value_counts()

River             183
None              155
Lake               97
Lake and River     71
Name: waterbody, dtype: int64

In [19]:
from sklearn.preprocessing import LabelEncoder

le1 = LabelEncoder()
le2 = LabelEncoder()

X.iloc[:,11] = le1.fit_transform(X.iloc[:,11])
X.iloc[:,-2] = le2.fit_transform(X.iloc[:,-2])

C:\Users\joben\AppData\Local\Temp\ipykernel_5152\1186187661.py:6: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  X.iloc[:,11] = le1.fit_transform(X.iloc[:,11])
C:\Users\joben\AppData\Local\Temp\ipykernel_5152\1186187661.py:7: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  X.iloc[:,-2] = le2.fit_transform(X.iloc[:,-2])

In [20]:
X.head()

,crime_rate,resid_area,air_qual,room_num,age,dist1,dist2,dist3,dist4,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter,parks
0,0.00632,32.31,0.538,6.575,65.2,4.35,3.81,4.18,4.01,24.7,4.98,1,5.480,11.1920,River,23,0,0.049347
1,0.02731,37.07,0.469,6.421,78.9,4.99,4.70,5.12,5.06,22.2,9.14,0,7.332,12.1728,Lake,42,0,0.046146
2,0.02729,37.07,0.469,7.185,61.1,5.03,4.86,5.01,4.97,22.2,4.03,0,7.394,101.1200,None,38,0,0.045764
3,0.03237,32.18,0.458,6.998,45.8,6.21,5.93,6.16,5.96,21.3,2.94,1,9.268,11.2672,Lake,45,0,0.047151
4,0.06905,32.18,0.458,7.147,54.2,6.16,5.86,6.37,5.86,21.3,5.33,0,8.824,11.2896,Lake,55,0,0.039474